
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f7f2e9;
    border-bottom: 30px solid #edc84b;
    min-height: 800px;
    margin: 0px;
    padding: 0px;
      font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

header {
    text-align: center;
    font-size: 25px;
    color: #edc84b;
    border-bottom: 3px solid;
    width: 50%;
    margin: 0px auto;

}

.menu-title {
    text-align: center;
    margin: 100px auto;
    border-bottom: 2px solid;
     border-top: 2px solid;
    width: 8%;
}